@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');


.App-title{
  color: black;
  font-family: Noto Sans;
  font-weight: 700;
  font-size: xx-large;
}

.App-subtitle {
  color: black;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: x-large;
  text-decoration: none;
}

.App-paragraph{
  color: black;
  font-family: Noto Sans;
  font-weight: 300;
  font-size: large;
}

.App-header{
  width: 100%;
  background-color: rgb(3, 39, 3);
}

.App-logo{
  width:14rem;
  height:7rem  
}

.App-navbar{
  display: none;
}

.App-toggler{
  display:block;
}

.App-tag{
  background-color: #ef4011;
  border-radius: 5px;
  font-size: small;
  padding: 2px;
}

.App-filter{
  display: none;
}

.App-btn{
  background-color: rgb(3, 39, 3) !important;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 15rem;
  overflow: auto;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-family:Noto Sans ;
}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgb(3, 39, 3);
}

@media (min-width: 768px){
  .App-navbar{
    display:block;
  }

  .App-toggler{
    display:none;
  }

  .App-filter{
    display: block;
  }
}


