@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');


.App-title{
  color: white;
  font-family: Noto Sans;
  font-weight: 700;
}

.App-subtitle {
  color: black;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: larger;
  text-decoration: none;
}

.App-paragraph{
  color: black;
  font-family: Noto Sans;
  font-weight: 300;
}

.App-header{
  width: 100%;
  background-color: rgb(3, 39, 3);
}

.App-logo{
  width:14rem;
  height:7rem  
}

.App-navbar{
  display: none;
}

.App-toggler{
  display:block;
}

@media (min-width: 700px){
  .App-navbar{
    display:block;
  }

  .App-toggler{
    display:none;
  }
}


