@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');


.App-title{
  color: black;
  font-family: Noto Sans;
  font-weight: 700;
  font-size: xx-large;
}

.App-subtitle {
  color: black;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: x-large;
  text-decoration: none;
}

.App-paragraph{
  color: black;
  font-family: Noto Sans;
  font-weight: 300;
  font-size: large;
}

.App-header{
  width: 100%;
  background-color: rgb(3, 39, 3);
}

.App-logo{
  width:14rem;
  height:7rem  
}

.App-navbar{
  display: none;
}

.App-toggler{
  display:block;
}

.App-tag{
  background-color: #ef4011;
  border-radius: 5px;
  font-size: small;
  padding: 2px;
}

.App-filter{
  display: none;
}

.App-btn{
  background-color: rgb(3, 39, 3) !important;
}

.App-card{
  border-radius: 10px;
}

.App-card:hover{
  box-shadow:5px 5px 40px  rgba(0, 0, 0, 0.2);
  transition: 1s;
}

@media (min-width: 768px){
  .App-navbar{
    display:block;
  }

  .App-toggler{
    display:none;
  }

  .App-filter{
    display: block;
  }
}


